﻿@using System.Data
@model QualitasEnergy.QualitasData

@{
    ViewBag.Title = "Projects";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link href="../../Content/LoginPage.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.2.3/js/dataTables.fixedHeader.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.5/js/dataTables.buttons.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.5/css/buttons.dataTables.min.css">

    <script type="text/javascript" src="~/Scripts/Projects.js"></script>
</head>
<body>
    <div id="popup" class="overlay">
        <div id="popupBody">
            <a id="close" href="#">&times;</a>
            <div class="popupContent" style="text-align:-webkit-center">
                <table id="tableAddEdit">
                    <thead><tr><th colspan="2"><h2 id="titlePopup">Add Qualitas</h2></th></tr></thead>
                </table>
            </div>
            <input id="saveDataButton" style="float:right; margin-bottom:10px" class="btn btn-primary" type="button" value="Save"/>
        </div>
    </div>
    <a href="#popup" id="addButton" style="margin-bottom: 10px;" class="btn btn-primary">Add</a>
    <div>
        <table id="apiTable" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th id="project_name">Project Name</th>
                    <th id="project_number">Project Number</th>
                    <th id="acquisition_date">Acquisition Date</th>
                    <th id="number_3l_code">Number 3l Code</th>
                    <th id="project_deal_type">Project Deal Type</th>
                    <th id="project_group">Project Group</th>
                    <th id="project_status">Project Status</th>
                    <th id="company_id">Company ID</th>
                    <th id="WTG_numbers">WTG Numbers</th>
                    <th id="kW">kW</th>
                    <th id="months_acquired">Months Acquired</th>
                    <th id="edit">Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</body>
</html>

